# Вигнорувати всі файли з розширенням .log
*.log

# Вигнорувати каталог з іменем "temp"
temp/

# Вигнорувати файли та каталоги, які мають слово "тимчасовий" у назві
*тимчасовий*

# Вигнорувати файли, які починаються з "копія_"
копія_*
